{% extends 'layout.html' %}
{% block title %}About{% endblock %}


{% block content %}
<div class="container">
    <h2 class="text-center"><b>About Us</b> </h2>
<h5 class="text-justify">
    Projectguidebd.com is an excellent initiative developed by some young enthusiastic tech lovers to promote research based embedded/electronics projects among Bangladeshi school/college/university going students. To keep pace with the evolving technology and innovation, we are the first in Bangladesh who took the initiative to help students learn electronics projects practically.
</h5>
<h5 class="text-justify mb-4">
    
    Projectguidebd.com provides all necessary components necessary for making the projects by themselves with detailed video tutorials and learning documents in one single kit. Apart from this Projectguide.com provides free project ideas and innovative concepts to boost student creativity and enthusiasm towards technology.</h5>
    
    <h5 class="text-justify mb-4">
     We aim at building automate work from various sectors including agriculture, defense, manufacturing, biomedical as well as domestic sector. We build these systems to be used as a template for further development and studies by engineering students, researchers, and enthusiasts.

</h5>
<br>
<br>
<br>
<br>
</div>

{% endblock %}